* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  background-color: #F2EAD3;
  justify-content: center;
  align-items: center;
}

.pokeball-shape {
  position: relative;
  padding: 260px;
  border-radius: 500px;
  background-color:#222224;
  box-shadow: 2px 7px 20px #222224;
}

.pokeball-shape::after {
  border-radius:700px 700px 0 0;
  bottom: 265px;
  right: 15px;
  padding: 120px 245px;
  display: block;
  position: absolute;
  content:"";
  background-color: #ee1515;
}

.pokeball-shape::before {
  border-radius:0 0 700px 700px;
  bottom: 15px;
  right: 15px;
  padding: 120px 245px;
  display: block;
  position: absolute;
  content:"";
  background-color: #f0f0f0;

}

.middle-circle {
  border: solid 12px #222224;
  border-radius: 50%;
  z-index: 2;
  right: 180px;
  bottom:180px;
  padding: 70px;
  background-color: #222224;
  position: absolute;
}

.middle-circle2 {
  border-radius: 50%;
  z-index: 2;
  right: 194px;
  bottom:194px;
  padding: 68px;
  background-color:#f0f0f0 ;
  position: absolute;
}